{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Demo viewer</title>
</head>
<body>
    
<demo-viewer></demo-viewer>

<link rel="stylesheet" href="static/css/viewer.css">
<script src="static/js/viewer.js"></script>
<script>
    window.demoViewer({
        modules: [{% for component in module_list %}
				{
					"id": "components/{{ component }}",
					"name": "{{ component }}",
					"path": "components/{{ component }}",
					"type": "component"
				},
				{% endfor %}],
        sizes: [
            { name: 'XS', width: 320 },
            { name: 'S', width: 500 },
            { name: 'M', width: 750 },
            { name: 'L', width: 1020 },
            { name: 'XL', width: 1200 }
        ]
    });
</script>


</body>
</html>
{% endblock %}